.rank-title {
    padding: 0.2rem;

    border-width: 5px 0;
    border-style: double;

    text-align: center;
    text-transform: uppercase;
    font-size: 4vw;

    transition: background-color 0.5s;
}

@media(min-width: 481px) {
    .rank-title {
        font-size: 1.25rem;
    }
}

.whiteSash {
    background-color: white;
    border-color: black;
    color:darkslategrey;
}

.yellowSash {
    background-color: yellow;
    border-color: black;
    color:black;
}

.orangeSash {
    background-color: rgb(255, 165, 0);
    border-color: black;
    color:black;
}

.purpleSash {
    background-color: purple;
    border-color: rgb(255, 97, 189);
    color:rgb(253, 236, 253);
}

.blueSash {
    background-color: blue;
    border-color: rgb(193, 246, 255);
    color:rgb(204, 247, 255);
}

.greenSash {
    background-color: green;
    border-color: rgb(87, 255, 162);
    color:rgb(227, 255, 244);
}

.brownSash {
    background-color: rgb(107, 55, 34);
    border-color: rgb(255, 212, 155);
    color:rgb(245, 240, 235);
}

.goldSash {
    background-color: rgb(212, 171, 37);
    border-color: black;
    color:black;
}

.redSash {
    background-color: rgb(146, 0, 0);
    border-color: rgb(255, 57, 57);
    color:rgb(255, 241, 241);
}

.blackSash {
    background-color: black;
    border-color: var(--color-primary-contrast);
    color:var(--color-primary-contrast);
}