svg * {
    transform-box: fill-box;
    transform-origin: center;
}

.rank-selector {
    margin: 0 auto;
    width: 100%;
}

@media(min-width: 768px) {
    .rank-selector {
        width: 60%;
    }
}