.tech-container {
    padding: 1rem 0.5rem 2rem;
    font-family: var(--sansSerif);
}

.tech-container:hover, .tech-container:focus {
    box-shadow: 0px 0px 3px 1px;
    transition: 0.25s;
}

.tech-container.category-subject-text-display {
    padding-left: 0rem;
    padding-right: 0px;
    box-shadow: none;
}

.tech-name {
    font-size: 0.8rem;
    color: inherit;

    text-transform: uppercase;
}

.tech-altName {
    font-size: 0.8rem;
    color: inherit;
}

.tech-characters {
    font-size: inherit;
    color: inherit;
}

.tech-categories-title {
    padding: 0.2rem;

    border-width: 5px 0;
    border-style: double;

    text-align: center;
    text-transform: uppercase;
    font-size: 4vw;

    transition: background-color 0.5s;
}

.technique-description > .tech-characters {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.technique-description > .tech-name {
    border-top: 1px solid;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.25rem;
    font-size: 1.25rem;
    width: 100%;
    font-family: var(--serif);
    /* background-color: white; */
}

.technique-description > .tech-altName {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

@media(min-width: 481px) {
    .tech-categories-title {
        font-size: 1.25rem;
    }
}

@media(min-width: 768px) {
    .tech-container.category-subject-text-display {
        padding-left: 3rem;
        padding-right: 0px;
        box-shadow: none;
    }
}

.tech-categories-section {
    transition: background-color 0.5s;
    color: black;
}


/* White Sash */
.category-title-step {
    background-color: white;
    border-color: black;
    color:rgb(24, 37, 37);
}

.tech-categories-step {
    background-color: rgb(240, 240, 240);
}

.tech-categories-step .category-details-display .tech-name {
    background-color: white;
    border-color: black;
    color:rgb(24, 37, 37);
}

/* .card-image-whiteSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Yellow Sash */
.category-title-hand {
    background-color: rgb(246, 229, 248);
    border-color: black;
    color:black;
}

.tech-categories-hand {
    background-color: rgb(255, 251, 241);
}

.tech-categories-hand .category-details-display .tech-name {
    background-color: rgb(246, 229, 248);
    border-color: black;
    color:rgb(24, 37, 37);
}

/* .card-image-yellowSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Orange Sash */
.category-title-fist {
    background-color: rgb(146, 0, 0);
    border-color: rgb(255, 57, 57);
    color:rgb(255, 241, 241);
}

.tech-categories-fist {
    background-color: rgb(252, 225, 225);
}

.tech-categories-fist .category-details-display .tech-name {
    background-color: rgb(146, 0, 0);
    border-color: rgb(255, 57, 57);
    color:rgb(255, 241, 241);
}

/* .card-image-orangeSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Purple Sash */
.category-title-palm {
    background-color: rgb(0, 0, 177);
    border-color: rgb(193, 246, 255);
    color:rgb(235, 252, 255);
}

.tech-categories-palm {
    background-color: rgb(197, 219, 253);
}

.tech-categories-palm .category-details-display .tech-name {
    background-color: rgb(0, 0, 177);
    border-color: rgb(193, 246, 255);
    color:rgb(235, 252, 255);
}

/* .card-image-purpleSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Blue Sash */
.category-title-kick {
    background-color: rgb(231, 197, 86);
    border-color: black;
    color:black;
}

.tech-categories-kick {
    background-color: rgb(255, 245, 217);
}

.tech-categories-kick .category-details-display .tech-name {
    background-color: rgb(231, 197, 86);
    border-color: black;
    color:black;
}
/* .card-image-blueSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Green Sash */
.category-title-poet {
    background-color: rgb(0, 107, 0);
    border-color: rgb(87, 255, 162);
    color:rgb(241, 255, 249);
}

.tech-categories-poet {
    background-color: rgb(220, 255, 219);
}

.tech-categories-poet .category-details-display .tech-name {
    background-color: rgb(0, 107, 0);
    border-color: rgb(87, 255, 162);
    color:rgb(241, 255, 249);
}

/* .card-image-greenSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Brown Sash */
.category-title-pole {
    background-color: rgb(107, 55, 34);
    border-color: rgb(255, 212, 155);
    color:rgb(255, 252, 249);
}

.tech-categories-pole {
    background-color: rgb(224, 218, 212);
}

.tech-categories-pole .category-details-display .tech-name {
    background-color: rgb(107, 55, 34);
    border-color: rgb(255, 212, 155);
    color:rgb(255, 252, 249);
}

/* .card-image-brownSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Gold Sash */
.category-title-blade {
    background-color: rgb(255, 254, 247);
    border-color: black;
    color:black;
}

.tech-categories-blade {
    background-color: rgb(232, 240, 240);
}

.tech-categories-blade .category-details-display .tech-name {
    background-color: rgb(255, 254, 247);
    border-color: black;
    color:black;
}

/* .card-image-goldSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Red Sash */
.category-title-flex {
    background-color: purple;
    border-color: rgb(255, 97, 189);
    color:rgb(255, 244, 255);
}

.tech-categories-flex {
    background-color: rgb(247, 221, 255);
}

.tech-categories-flex .category-details-display .tech-name {
    background-color: purple;
    border-color: rgb(255, 97, 189);
    color:rgb(255, 244, 255);
}

/* .card-image-redSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Black Sash */
.category-title-exotic {
    background-color: var(--color-primary);
    border-color: var(--color-primary-contrast);
    color: var(--color-primary-contrast)
}

.tech-categories-exotic {
    background-color: rgb(39, 39, 39);
    color: var(--color-primary-contrast)
}

.tech-categories-exotic .category-details-display .tech-name {
    background-color: var(--color-primary-contrast);
    color: var(--color-primary)
}

/* .card-image-blackSash {
    box-shadow: 0px 2px 10px 1px black;
} */

.hidden {
    display: none;
}