/* .tech-container {

} */



.tech-name {
    font-size: 0.8rem;
    color: inherit;

    text-transform: uppercase;
}

.tech-altName {
    font-size: 0.8rem;
    color: inherit;
}

.tech-characters {
    font-size: inherit;
    color: inherit;
}


.tech-categories-title {
    padding: 0.2rem;

    border-width: 5px 0;
    border-style: double;

    text-align: center;
    text-transform: uppercase;
    font-size: 4vw;

    transition: background-color 0.5s;
}

@media(min-width: 481px) {
    .tech-categories-title {
        font-size: 1.25rem;
    }
}


.tech-categories-section {
    transition: background-color 0.5s;
    color: black;
}


/* White Sash */
.tech-categories-whiteSash {
    background-color: rgb(240, 240, 240);
}

.tech-categories-whiteSash h2 {
    background-color: white;
    border-color: black;
    color:rgb(24, 37, 37);
}

/* .card-image-whiteSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Yellow Sash */
.tech-categories-yellowSash {
    background-color: rgb(255, 254, 224);
}

.tech-categories-yellowSash h2 {
    background-color: rgb(255, 243, 137);
    border-color: black;
    color:black;
}

/* .card-image-yellowSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Orange Sash */
.tech-categories-orangeSash {
    background-color: rgb(250, 233, 210);
}

.tech-categories-orangeSash h2 {
    background-color: rgb(250, 207, 128);
    border-color: black;
    color:black;
}

/* .card-image-orangeSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Purple Sash */
.tech-categories-purpleSash {
    background-color: rgb(247, 221, 255);
}

.tech-categories-purpleSash h2 {
    background-color: purple;
    border-color: rgb(255, 97, 189);
    color:rgb(255, 244, 255);
}

/* .card-image-purpleSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Blue Sash */
.tech-categories-blueSash {
    background-color: rgb(197, 219, 253);
}

.tech-categories-blueSash h2 {
    background-color: rgb(0, 0, 177);
    border-color: rgb(193, 246, 255);
    color:rgb(235, 252, 255);
}
/* .card-image-blueSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Green Sash */
.tech-categories-greenSash {
    background-color: rgb(220, 255, 219);
}

.tech-categories-greenSash h2 {
    background-color: rgb(0, 107, 0);
    border-color: rgb(87, 255, 162);
    color:rgb(241, 255, 249);
}

/* .card-image-greenSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Brown Sash */
.tech-categories-brownSash {
    background-color: rgb(224, 218, 212);
}

.tech-categories-brownSash h2 {
    background-color: rgb(107, 55, 34);
    border-color: rgb(255, 212, 155);
    color:rgb(255, 252, 249);
}

/* .card-image-brownSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Gold Sash */
.tech-categories-goldSash {
    background-color: rgb(255, 245, 217);
}

.tech-categories-goldSash h2 {
    background-color: rgb(231, 197, 86);
    border-color: black;
    color:black;
}

/* .card-image-goldSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Red Sash */
.tech-categories-redSash {
    background-color: rgb(236, 185, 185);
}

.tech-categories-redSash h2 {
    background-color: rgb(146, 0, 0);
    border-color: rgb(255, 57, 57);
    color:rgb(255, 241, 241);

}

/* .card-image-redSash {
    box-shadow: 0px 2px 10px 1px black;
} */

/* Black Sash */
.tech-categories-blackSash {
    background-color: rgb(39, 39, 39);
    color: var(--color-primary-contrast)
}

.tech-categories-blackSash h2 {
    background-color: var(--color-primary-contrast);
    color: var(--color-primary)
}

/* .card-image-blackSash {
    box-shadow: 0px 2px 10px 1px black;
} */

.hidden {
    display: none;
}